%h1 Signup
%p Your only four steps away...
%ul.form
  = form_for @user do |f|
    %li
      = f.label :name
      = f.text_area :name
    %li
      = f.label :email
      = f.text_area :email
    %li
      = f.label :password
      = f.password :password
    %li
      = f.label :password_confirmation
      = f.password :password_confirmation
    %li
      = f.submit "Sign me up!"

