- provide(:title, "#{@user.name}")
.content
  %h1
    = @user.name
  %p Welcome to your financer profile. Please feel free to modify your personal details.
  .users
    %ol
      %li
        Name:
        = @user.name
      %li
        Email:
        = @user.email
      %br/
      = link_to 'Edit my personal details', edit_user_path(@user)
  .banks
    %h3 My Banks
    = render "banks/index"
