- provide(:title, "#{@user.name} Profile")
.row
  .col-sm-9.content-area
    .content
      %h1 Profile
      .panel.panel-default
        .panel-heading
          Profile Info
          = link_to 'Edit', edit_user_path(@user), class: 'float-right'
        .panel-body
          .users
            %ol
              %li
                Name:
                = @user.name
              %li
                Email:
                = @user.email
  .col-sm-3.sidebar
    = render 'shared/sidebar'
