.form
  %ul#form
    = form_for @envelope do |f|
      %li
        = f.label :category
        = f.text_field :category
      %li
        = f.label :total
        = f.text_field :total
      %li
        = f.label :bank_id
        = collection_select(:envelope, :bank_id, current_user.banks, :id, :name )
      %li
        = f.submit class: "submit"
