.form
  = bootstrap_form_for @envelope do |f|
    = f.text_field :category
    = collection_select(:envelope, :bank_id, current_user.banks, :id, :name )
    = hidden_field_tag 'envelope[user_id]', current_user.id
    %p
    = f.submit class: 'btn btn-default btn-md'
