.form
  %ul
    = form_for @transaction do |f|
      %li
        = f.label :name
        = f.text_field :name
      %li
        = f.label :transaction_type
        = f.text_field :transaction_type
      %li
        = f.label :date
        = f.date_select(:date, default: {Time.now})
      %li
        = f.label :bank_id
        = collection_select(:transaction, :envelope_id, current_user.envelopes, :id, :category )
      %li
        = f.submit
