%h1 Dashboard
.content
  .button
    =link_to 'Add new Envelope', new_envelope_path
  .envelopes
    - @envelopes.each do |envelope|
      %ol
        .box.envelope
          %li.category
            = envelope.category
          %li.amount
            = number_to_currency(envelope.transactions.sum('amount'))
          %li.options
            = link_to 'View Transactions |', envelope_transactions_path(envelope)
            = link_to 'Edit |', edit_envelope_path(envelope)
            = link_to 'Delete', envelope_path(envelope), method: :delete, data: { confirm: 'Are you sure?' }
  .totals
    .box.total
      %p
        Your complete totals
      .amount
        = number_to_currency(current_user.transactions.sum('amount'))
    .box.bank_totals
      - @banks.each do |bank|
        %ol
          %li.name
            = bank.name
          %li.amount
            = number_to_currency(bank.transactions.sum('amount'))
