- provide(:title, "Dashboard")
%h1 Dashboard
=link_to 'Add new Envelope', new_envelope_path, class: 'button'
.envelopes
  %ol
  - @envelopes.each do |envelope|
    %li
      Category:
      = envelope.category
    %li
      Bank name:
      = envelope.bank.name
    %li
      Amount:
      = number_to_currency(envelope.total)
    %li
      = link_to 'Edit |', edit_envelope_path(envelope)
      = link_to 'Delete', envelope_path(envelope), method: :delete
    %br/

