.form
  %ul
    = form_for [@envelope, @transaction] do |f|
      %li
        = f.label :name
        = f.text_field :name
      %li
        = f.label :transaction_type
        = select("transaction", "transaction_type", TransactionType.all.map { |t| t.name } )
      %li
        = f.label :date
        = f.date_select :date, order: [:month, :day, :year], default: Time.zone.now.to_date
      %li
        = f.label :amount
        = f.number_field :amount, step: 0.01
      %li
        = f.submit class: 'submit'
