- provide(:title, "Transaction")
%h1 #{@envelope.category}'s Transactions
.back_button
  = link_to 'Back', dashboard_path
.button
  = link_to 'Add Transaction', new_envelope_transaction_path
.transactions
  %table
    %tr
      %th Name
      %th Transaction Type
      %th Date
      %th Amount
      %th Edit
    - @transactions.each do |transaction|
      %tr
        %td
          = transaction.name
        %td
          = transaction.transaction_type
        %td
          = transaction.date.to_formatted_s(:rfc822)
        %td
          = number_to_currency(transaction.amount)
        %td
          = link_to 'Edit |', edit_envelope_transaction_path(id: transaction.id)
          = link_to 'Delete', envelope_transaction_path(id: transaction.id), method: :delete, confirm: "Are you sure?"

