- provide(:title, "Transaction")
%h1 Transactions
=link_to 'Add Transaction', new_envelope_transaction_path, class: 'button'
.envelopes
  %ol
  - @transactions.each do |transaction|
    %li
      Name:
      = transaction.name
    %li
      Transaction Type:
      = transaction.transaction_type
    %li
      Date:
      = transaction.date
    %li
      Amount:
      = number_to_currency(transaction.amount)
    %li
      = link_to 'Edit |', edit_envelope_transaction_path(id: transaction.id)
      = link_to 'Delete', envelope_transaction_path(id: transaction.id), method: :delete
    %br/

